h1{
    font-size: 45px;
    color: white;
    text-shadow: 1px 2px black, 0 0 25px blueviolet, 0 0 5px blueviolet;
    text-align: center;
}
div.esti{
margin: 10px 20px;
box-shadow: 0 4px 8px 0 lightblue, 0 6px 20px 0 rgba(0,0,0,0.19);
float: left;
width: 350px;
}
div.esti img{
    width: 100%;
    height: auto;
}
div.esti.hover{
    border: 1px solid lightcoral;
    transform: rotate(-3deg);
}
div.pie{
    text-align: center;
    text-shadow: 2px 2px 5px purple;
    padding: 10px;
}
body{
    background-image: url(https://img.freepik.com/fotos-premium/mesa-madera-vacia-escaparate-tienda-ropa-boutique-moda-ninos-borrosos-centro-comercial_979131-2388.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
div.enlaces{
    background: rgba(5, 7, 12, 0.40);
}